{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}        
    <p></p>
    <div class="card" width="300px">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Elenco incassi</h4>
            <form method="get">
                <label for="mese_selezionato">Seleziona un mese:</label>
                <select name="mese" id="mese_selezionato">
                    <option value="">Tutti</option>
                    <option value="1">Gennaio</option>
                    <option value="2">Febbraio</option>
                    <option value="3">Marzo</option>
                    <option value="4">Aprile</option>
                    <option value="5">Maggio</option>
                    <option value="6">Giugno</option>
                    <option value="7">Luglio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Settembre</option>
                    <option value="10">Ottobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Dicembre</option>
                </select>
                <button type="submit" class="btn btn-primary">Filtra</button>
            </form>
        </div>
    
        <table class="table">
            <thead class="">
                <th>Data</th>
                <th>Differenza</th>
                <th>Modifica</th>
                <th>Elimina</th>
            </thead>

            <tbody>  
            {% for incasso in incassi %}
                <tr> 
                    <td> {{ incasso.data }}  </td>
                    <td> {{ incasso.descrizione }}  </td>
                    <td> 
                        <a href="{% url 'incassi:update_incasso' incasso.id %}" class="btn btn-primary"> Modifica </a>
                    </td>
                    <td> 
                        <a href="{% url 'incassi:delete_incasso' incasso.id %}" class="btn btn-danger"> Elimina </a>
                    </td>
                </tr>                             
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p></p>
    <div class="alert alert-info" role="alert">
            Devi effettuare il <a href="{% url 'login' %}?next={{ request.get_full_path }}">login...</a>
    </div>
{% endif %}

{% endblock content %}

<!-- product_list.html  <a href="{% url 'incassi:update_incasso' i.id %}"> {{ i.data }}</a> {{ i.descrizione }}
                    <a href="{% url 'incassi:delete_incasso' i.id %}"> Elimina </a> 
                <a href="{% url 'incassi:delete_incasso' i.id %}"> Elimina </a> -->